Repository googleapis/python-datastore, pull requests merged in 2021-05, with the labels that each got.

#159 chore: switch from flakybot to buildcop (via synth)
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: datastore, automerge, cla: yes, context: none, kokoro:force-run

#93 docs: update intersphinx URLs for grpc and auth
  docs/conf.py
  synth.metadata
Labels: automerge, cla: yes, context: full

#143 fix: pass transaction's options to API in 'begin'
  google/cloud/datastore/transaction.py
  tests/unit/test_transaction.py
Labels: api: datastore, automerge, cla: yes

#166 chore: fix synth replacment for index creation
  synth.py
Labels: api: datastore, cla: yes

#169 chore: add library type to .repo-metadata.json
  .repo-metadata.json
Labels: api: datastore, automerge, cla: yes

#165 tests: add coverage for skip < offset case
  google/cloud/datastore/query.py
  tests/unit/test_query.py
Labels: api: datastore, cla: yes

#174 chore: delete unused protos
  google/cloud/datastore_admin_v1/proto/datastore_admin.proto
  google/cloud/datastore_admin_v1/proto/index.proto
  google/cloud/datastore_v1/proto/datastore.proto
  google/cloud/datastore_v1/proto/entity.proto
  google/cloud/datastore_v1/proto/query.proto
Labels: api: datastore, automerge, cla: yes
