Repository googleapis/python-datastore, pull requests merged in 2022-08, with the labels that each got.

#344 docs: Move the schedule_export samples from python-docs-samples
  samples/snippets/schedule-export/README.md
  samples/snippets/schedule-export/main.py
  samples/snippets/schedule-export/noxfile.py
  samples/snippets/schedule-export/noxfile_config.py
  samples/snippets/schedule-export/requirements-test.txt
  samples/snippets/schedule-export/requirements.txt
  samples/snippets/schedule-export/schedule_export_test.py
Labels: api: datastore, samples, size: l

#347 fix(deps): allow protobuf < 5.0.0
  setup.py
  testing/constraints-3.7.txt
Labels: api: datastore, automerge, size: xs

#342 docs(samples): Add an example of using read_time in queries and get()
  samples/snippets/snippets.py
  samples/snippets/snippets_test.py
Labels: api: datastore, samples, size: s
