Repository googleapis/python-datastore, pull requests merged in 2022-05, with the labels that each got.

#314 fix: regenerate pb2 file with grpcio-tools
  .github/workflows/unittest.yml
  google/cloud/datastore/_app_engine_key_pb2.py
  noxfile.py
  owlbot.py
Labels: api: datastore, size: l

#317 chore: Increase coverage to 100%
  .github/workflows/unittest.yml
  google/cloud/datastore/_app_engine_key_pb2.py
  noxfile.py
  owlbot.py
Labels: api: datastore, size: xs

#319 docs: fix changelog header to consistent size
  CHANGELOG.md
Labels: api: datastore, size: s
