Repository googleapis/python-datastore, pull requests merged in 2024-08, with the labels that each got.

#557 test: Added system test for query offset issue
  tests/system/test_query.py
  tests/system/utils/clear_datastore.py
  tests/system/utils/populate_datastore.py
Labels: api: datastore, size: m

#542 feat: implement query profiling
  google/cloud/datastore/__init__.py
  google/cloud/datastore/aggregation.py
  google/cloud/datastore/client.py
  google/cloud/datastore/query.py
  google/cloud/datastore/query_profile.py
  samples/snippets/snippets.py
  samples/snippets/snippets_test.py
  tests/system/test_aggregation_query.py
  tests/system/test_query.py
  tests/unit/test_aggregation.py
  tests/unit/test_query.py
  tests/unit/test_query_profile.py
Labels: cla: yes, api: datastore, size: xl

#560 fix: Allow protobuf 5.x; require protobuf >=3.20.2
  setup.py
  testing/constraints-3.7.txt
Labels: api: datastore, size: xs
